# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/*.R
.Rproj.user
*.o
*.dll
inst/doc
*.aux
*.blg
*.log
*.loboxe
*.out
*.synctex.gz
*.toc
~$ShareLaTeX-vs-SublimeGit.xlsx
*.bcf
Assessing-the-2016-super-tax-reforms.bbl
*.bbl
Example-report.lof
*.xml
Example-report.txt
*.lof
Roadmap\.pdf
Roadmap\.tex
vignettes/long-vignettes/budget-2018_cache/*
vignettes/long-vignettes/compare-avg-tax-rates-2027-28-wage-assumptions.pptx
.Renviron