name: Check
'on': push
jobs:
  build:
    name: covr
    runs-on: ubuntu-latest
    env:
      TT_AT_HOME: "TRUE"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master
      - name: Install Package Dependencies
        run: |-
          Rscript -e "install.packages(c('rcmdcheck', 'remotes', 'covr'), repos = 'https://cran.rstudio.com')"
          Rscript -e "remotes::install_deps(dependencies = TRUE, repos = 'https://cran.rstudio.com')"
      - name: codecov
        run: Rscript -e "covr::codecov(quiet = FALSE)"
    container: rocker/verse:latest
  rcmdchecker:
    name: Rcmdcheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master
      - name: Install Package Dependencies
        run: |-
            Rscript -e "install.packages(c('rcmdcheck', 'remotes'), repos = 'https://cran.rstudio.com')"
            Rscript -e "remotes::install_deps(dependencies = TRUE, repos = 'https://cran.rstudio.com')"
      - name: Run Check
        run: Rscript -e "rcmdcheck::rcmdcheck(args = '--no-manual', build_args = '--no-manual', error_on = 'note')"
    container: rocker/verse:latest
  test-r-sanitizers:
    name: ASAN-UBSAN
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container:
      image: rhub/rocker-gcc-san
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
        with:
          fetch-depth: 5
          submodules: true
      - name: Install packages
        shell: bash
        run: |
          apt install -y g++
          Rdevel -e "install.packages('hutils', repos = 'https://cran.rstudio.com', type = 'source')"
          Rdevel -e "hutils::provide.file('~/.R/Makevars'); cat('CXX_STD = CXX11', file = '~/.R/Makevars')"
          Rdevel -e "hutils::provide.file('~/.R/Makevars'); cat('CXXFLAGS += -std=gnu++11', file = '~/.R/Makevars')"
          Rdevel -e "install.packages('RcppArmadillo', repos = 'https://cran.rstudio.com', type = 'source')"
          Rdevel -e "install.packages('lmtest', repos = 'https://cran.rstudio.com', type = 'source')"
          Rdevel -e "install.packages('ggplot2', repos = 'https://cran.rstudio.com', type = 'source')"
          Rdevel -q -e "ip <- function(x) install.packages(x[!sapply(x, requireNamespace, quietly = TRUE)], quiet = TRUE, repos = 'https://cran.r-project.org'); ip('forecast'); cat('-\n'); ip(c('forecast', 'pkgbuild', 'hutils', 'hutilscpp', 'testthat', 'data.table', 'grattanInflators', 'fy', 'ineq', 'checkmate', 'assertthat'))"
          Rdevel CMD build .
          Rdevel CMD INSTALL --install-tests grattan*.tar.gz
          Rdevel -e "testthat::test_local('tests')"
